```gitignore
# =========================
# Environment
# =========================
.env
.env.*
!.env.example

secrets/firebase.json
# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Docker
# =========================
docker-data/
volumes/

# =========================
# Jenkins
# =========================
jenkins_home/

# =========================
# SonarQube
# =========================
sonarqube_data/
sonarqube_extensions/
sonarqube_logs/

# =========================
# Monitoring
# =========================
grafana-storage/
prometheus-data/

# =========================
# Temporary
# =========================
tmp/
temp/
```
