PROFILE=app

BACKEND_URL=http://service-backend:8080

LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
LLM_MODEL=gemini-2.5-flash
LLM_API_KEY=

ANALYTICS_DB_HOST=
ANALYTICS_DB_PORT=
ANALYTICS_DB_NAME=
ANALYTICS_DB_SCHEMA=
ANALYTICS_DB_USER=
ANALYTICS_DB_PASSWORD=

VECTOR_DB_HOST=
VECTOR_DB_PORT=
VECTOR_DB_NAME=
VECTOR_DB_SCHEMA=
VECTOR_DB_USER=
VECTOR_DB_PASSWORD=
